# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
backend/.env/
.venv/
db.sqlite3

# Django
/static/
media/

# Node
node_modules/
dist/

# Vite
.vite/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
