


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 0.3rem;
}

.page-link {
  background: rgba(255, 255, 255, 0.552);
  backdrop-filter: blur(10px) saturate(150%);
  border: none;
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.page-link:hover {
  background: linear-gradient(to right, #ff4500, #ff9900);
  color: #fff;
  transform: translateY(-2px);
}

.page-item.active .page-link {
  background: linear-gradient(to right, #ff4500, #ff9900);
  color: #fff;
}

.page-item.disabled .page-link {
  opacity: 0.5;
  pointer-events: none;
}
