{% extends 'frontend/base.html' %}
{% block content %}
<div class="container col-md-8">
    <div class="p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="w-100">
        <!-- Imagen que ocupa todo el espacio -->
        <img
          src="../static/images/imagen.jpg"
          class="img-fluid w-100 rounded"
          alt="Imagen"
        />
      </div>
    </div>

    <!-- Botón centrado -->
    <div class="text-center my-4">
      <button class="btn btn-primary btn-md" type="button">
        Crear Clase
      </button>
    </div>
  </div>
{% endblock %}